body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    background-color: #e0f7fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
}

.display {
    background-color: #004d40;
    color: white;
    font-size: 2em;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    gap: 5px;
}

.btn {
    background-color: #80deea;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    color: #004d40;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 76.25px
}

.btn.operator {
    background-color: #00acc1;
    color: white;
}

.btn:hover {
    background-color: #4dd0e1;
}

.history {
    font-size: 0.5em;
    color: #b2dfdb;
}

.result {
    text-align: right;
}

#ac {
    width: 157.5px;
}

#equals {
    width: 157.5px;
}